* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #292929;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
  }

  .action-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 48px;
    max-height: 48px;
    border-radius: 10px;
    padding: 12px 20px;
    gap: 12px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    cursor: pointer;
    outline: none;

    &.blue {
      background-color: #513DEB;
      color: #F5F5F5;

      span {
        color: #F5F5F5;
      }
    }

    &.transparent {
      background-color: transparent;
      color: #292929;
    }

    &.icon {
      background-color: transparent;
      padding: 0;

      img {
        width: 32px;
        height: auto;
      }
    }
  }

  .arrow-left {
    transform: rotate(270deg);
  }

  .arrow-right {
    transform: rotate(90deg);
  }

  .arrow-down {
    transform: rotate(180deg);
    transition: 300ms;
  }

  .arrow-up {
    transition: 300ms;
  }

  .required {
    color: #CD3232;
    margin-left: 5px;
  }
}