* :not(code) {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #292929;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: #b8b7b7 #f1f1f1;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #b8b7b7;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999898;
  }
}

body,
html {
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
  }

  .action-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 48px;
    max-height: 48px;
    border-radius: 10px;
    padding: 12px 20px;
    gap: 12px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    cursor: pointer;
    outline: none;

    &:disabled {
      cursor: not-allowed;
    }

    &.blue {
      background-color: #513deb;
      color: #f5f5f5;

      span {
        color: #f5f5f5;
      }
    }

    &.wide {
      width: 100%;
    }

    &.transparent {
      background-color: transparent;
      color: #292929;

      &.border {
        border: 1px solid #513deb;
      }
    }

    &.icon {
      background-color: transparent;
      padding: 0;
      height: fit-content;

      img {
        width: 32px;
        height: auto;
      }
    }
  }

  .arrow-left {
    transform: rotate(270deg);
  }

  .arrow-right {
    transform: rotate(90deg);
  }

  .arrow-down {
    transform: rotate(180deg);
    transition: 300ms;
  }

  .arrow-up {
    transition: 300ms;
  }

  .required {
    color: #cd3232;
    margin-left: 5px;
  }

  .circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #513deb;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    margin-left: 8px;
  }

  .spacer {
    flex-grow: 1;
    min-height: 0;
  }

  .overdue {
    color: #cd3232 !important;
  }

  input:not(input[type="checkbox"], input[type="radio"]) {
    &:not(.mark) {
      flex: 1;
    }

    border-radius: 8px;
    outline: none;
    margin: 0;
    border: 1px solid #d9d9d9;
    padding: 10px;
  }

  input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    border: 1px solid #513deb;
    transition: 500ms;
    cursor: pointer;
    outline: none;

    &::after {
      content: url(/icons/tick-white.svg);
      color: #ffffff;
      position: absolute;
      top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0px;
      height: 0px;
      transition: 300ms;
      overflow: hidden;
    }

    &:checked {
      background-color: #513deb;
      border: none;
    }

    &:checked::after {
      width: 24px;
      height: 24px;
      transition: 300ms;
    }
  }

  input[type="radio"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 5px solid #513deb;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &:checked {
      background-color: #513deb;
    }
  }

  a {
    outline: none;
  }

  textarea {
    resize: vertical;
    outline: none;
    border: none;
  }

  .no-items {
    width: 100%;
    text-align: center;
    * {
      text-align: center;
      font-weight: 600;
      font-size: 17px;
    }
  }
}
